@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 100% 99%;
    --foreground: 225 40% 24%;

    --card: 0 0% 100%;
    --card-foreground: 225 40% 24%;

    --popover: 0 0% 100%;
    --popover-foreground: 225 40% 24%;

    --primary: 217 100% 43%;
    --primary-foreground: 250 100% 99%;

    --secondary: 266 78% 54%;
    --secondary-foreground: 0 0% 100%;

    --muted: 226 100% 96%;
    --muted-foreground: 223 25% 42%;

    --accent: 226 100% 96%;
    --accent-foreground: 225 40% 24%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 222 39% 91%;
    --input: 222 39% 91%;
    --ring: 217 100% 43%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 223 32% 10%;
    --foreground: 210 33% 98%;

    --card: 220 24% 15%;
    --card-foreground: 210 33% 98%;

    --popover: 220 24% 15%;
    --popover-foreground: 210 33% 98%;

    --primary: 217 100% 43%;
    --primary-foreground: 0 0% 100%;

    --secondary: 266 78% 62%;
    --secondary-foreground: 0 0% 100%;

    --muted: 218 21% 20%;
    --muted-foreground: 215 20% 65%;

    --accent: 218 21% 20%;
    --accent-foreground: 210 33% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 218 20% 22%;
    --input: 218 20% 22%;
    --ring: 217 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
